.profile-picture {
    width: 55px;
    height: 55px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

 